Clients Onboarding Automation/Clients_onboarding_workflow.json
{
  "name": "Client Onboarding",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "168aNysQ20CZU9JEmlseMnChYsz6HTGX2c_RCmvFx2tM",
          "mode": "list",
          "cachedResultName": "Client Onboarding Responses",
          "cachedResultUrl": "https:// LINK TO GOOGLE SHEET FROM FORM"
        },
        "sheetName": {
          "__rl": true,
          "value": 2078320796,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": ""
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -64,
        16
      ],
      "id": "1af576a6-5ec2-4dd2-a034-0b2a823e24e1",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "WgCwknIS2D5exfL8",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appg2awyqyg1TsEfp",
          "mode": "list",
          "cachedResultName": "AIRTABLE BASE",
          "cachedResultUrl": ""
        },
        "table": {
          "__rl": true,
          "value": "tbl3IAomV1OzVETgU",
          "mode": "list",
          "cachedResultName": "AIRTABLE TABLE",
          "cachedResultUrl": ""
        },
        "filterByFormula": "=OR(   {Email} = \"{{ $json['Email Address'] }}\",   AND(     {Company Name} = \"{{ $json['Legal Company Name'] }}\",     {Company Name} != \"\"   ) )",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        160,
        112
      ],
      "id": "17dbf614-e24e-4037-bed2-9061f9afda9e",
      "name": "Search records",
      "alwaysOutputData": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "fUEhg3nqWTZvBvbR",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "email to send to",
        "subject": "Duplicate Client Onboarding Attempt",
        "emailType": "text",
        "message": "=A duplicate onboarding attempt was detected. Client: {{ $json[\"Company Name\"] }} Email: {{ $json[\"Email\"] }} Submitted by: {{ $json[\"Primary Contact\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        384,
        16
      ],
      "id": "d80f9da2-be33-430f-ae8e-4fec8389130b",
      "name": "Send a message",
      "webhookId": "378cafdc-a4e8-40a2-bd11-8099372c7ae1",
      "credentials": {
        "gmailOAuth2": {
          "id": "U2LNtZrETYduRddu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appg2awyqyg1TsEfp",
          "mode": "list",
          "cachedResultName": "BASE NAME",
          "cachedResultUrl": "BASE LINK"
        },
        "table": {
          "__rl": true,
          "value": "tbl3IAomV1OzVETgU",
          "mode": "list",
          "cachedResultName": "TABLE NAME",
          "cachedResultUrl": "TABLE LINK"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "= {{ $json[\"Legal Company Name\"] }}",
            "Primary Contact": "={{ $json[\"Contact Person\"] }}",
            "Email": "={{ $json[\"Email Address\"] }}",
            "Phone": "={{ $json[\"Phone Number:\"] }}",
            "Website": "={{ $json[\"Company Website\"] }}",
            "Industry": "={{ $json.Industry }}",
            "Company Size": "={{ $json[\"Company Size\"] }}",
            "Preferred Contact Method": "={{ $json[\"Preferred Communication Method\"] }}",
            "Project Objective": "={{ $json[\"Project Objective:\"] }}",
            "Project Overview": "={{ $json[\"Project Overview Key Requirements\"] }}",
            "Target Timeline": "={{ $json[\"Target Timeline\"] }}",
            "Estimated Budget": "={{ $json[\"Estimated Budget Range\"] }}",
            "Onboarding Status": "In Progress",
            "Project Category": "={{ $json[\"Project Category\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Client_ID",
              "displayName": "Client_ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Primary Contact",
              "displayName": "Primary Contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Retail",
                  "value": "Retail"
                },
                {
                  "name": "Food & Beverage",
                  "value": "Food & Beverage"
                },
                {
                  "name": "Health",
                  "value": "Health"
                },
                {
                  "name": "Government & Public Sector",
                  "value": "Government & Public Sector"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company Size",
              "displayName": "Company Size",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": " Micro (1-50)",
                  "value": " Micro (1-50)"
                },
                {
                  "name": "Small (51-250)",
                  "value": "Small (51-250)"
                },
                {
                  "name": " Medium (251-1000)",
                  "value": " Medium (251-1000)"
                },
                {
                  "name": " Large (Above 1000)",
                  "value": " Large (Above 1000)"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Preferred Contact Method",
              "displayName": "Preferred Contact Method",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Email",
                  "value": "Email"
                },
                {
                  "name": "Phone Call",
                  "value": "Phone Call"
                },
                {
                  "name": "Messaging",
                  "value": "Messaging"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Project Category",
              "displayName": "Project Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Automation",
                  "value": "Automation"
                },
                {
                  "name": "Data Analysis",
                  "value": "Data Analysis"
                },
                {
                  "name": "Data Engineering",
                  "value": "Data Engineering"
                },
                {
                  "name": "Cloud Migration",
                  "value": "Cloud Migration"
                },
                {
                  "name": "",
                  "value": ""
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Project Objective",
              "displayName": "Project Objective",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Increase operational efficiency",
                  "value": "Increase operational efficiency"
                },
                {
                  "name": "Improve customer experience",
                  "value": "Improve customer experience"
                },
                {
                  "name": "Enhance data-driven decision making",
                  "value": "Enhance data-driven decision making"
                },
                {
                  "name": "Reduce manual workloads",
                  "value": "Reduce manual workloads"
                },
                {
                  "name": "Scale business operations",
                  "value": "Scale business operations"
                },
                {
                  "name": "Other",
                  "value": "Other"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Project Overview",
              "displayName": "Project Overview",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Target Timeline",
              "displayName": "Target Timeline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Urgent (2-4 Weeks)",
                  "value": "Urgent (2-4 Weeks)"
                },
                {
                  "name": "Standard (1-3 Months)",
                  "value": "Standard (1-3 Months)"
                },
                {
                  "name": "Flexible (3-6 Months)",
                  "value": "Flexible (3-6 Months)"
                },
                {
                  "name": "Planning Phase (No firm deadline)",
                  "value": "Planning Phase (No firm deadline)"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estimated Budget",
              "displayName": "Estimated Budget",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "₦ 150,000 - ₦ 350,000",
                  "value": "₦ 150,000 - ₦ 350,000"
                },
                {
                  "name": "₦ 351,000 - ₦ 550,000",
                  "value": "₦ 351,000 - ₦ 550,000"
                },
                {
                  "name": "₦ 551,000 - ₦ 1,000,000",
                  "value": "₦ 551,000 - ₦ 1,000,000"
                },
                {
                  "name": "Above ₦ 1,000,000",
                  "value": "Above ₦ 1,000,000"
                },
                {
                  "name": "To be determined",
                  "value": "To be determined"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Onboarding Status",
              "displayName": "Onboarding Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "In Progress",
                  "value": "In Progress"
                },
                {
                  "name": "Complete",
                  "value": "Complete"
                },
                {
                  "name": "On-Hold",
                  "value": "On-Hold"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created Date",
              "displayName": "Created Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        832,
        -176
      ],
      "id": "7979706b-9bb7-4fce-8e6a-bb56589fc3eb",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "fUEhg3nqWTZvBvbR",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "Email Address",
              "field2": "Email"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        384,
        -176
      ],
      "id": "4edbb9f6-e01a-4266-b957-c55f6523da9f",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a5977cd-ee8c-47d6-8150-1d24428f5afc",
              "name": "Company Size",
              "value": "={{ \n  $json[\"Company Size\"].trim() === \"Micro (1-50)\" ? \"Micro (1-50)\" :\n  $json[\"Company Size\"].trim() === \"Small (51-250)\" ? \"Small (51-250)\" :\n  $json[\"Company Size\"].trim() === \"Medium (251-1000)\" ? \"Medium (251-1000)\" :\n  $json[\"Company Size\"].trim() === \"Large (Above 1000)\" ? \"Large (Above 1000)\" :\n  null  // fallback to null for invalid inputs\n}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -176
      ],
      "id": "ca384218-47f4-4f98-8e38-6ec46c405397",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fields[\"Project Category\"] }}",
                    "rightValue": "Automation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "83b36e15-0b77-4087-8f3a-99c7fa27b23e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cd97e719-e5c4-4562-a85b-81652c395647",
                    "leftValue": "={{ $json.fields[\"Project Category\"] }}",
                    "rightValue": "Data Analysis",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "28f63239-9680-4954-aca2-f6b1899443d1",
                    "leftValue": "={{ $json.fields[\"Project Category\"] }}",
                    "rightValue": "Cloud Migration",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1056,
        -192
      ],
      "id": "9e1faa8c-f077-4e79-a76c-29a069c2c469",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16yRHlg48DYILSrtVZMaYUIsUeFie-0xkXBqdJhqXsFs",
          "mode": "list",
          "cachedResultName": "Clients Onboarding Logs",
          "cachedResultUrl": "GOOGLE SHEET LOG"
        },
        "sheetName": {
          "__rl": true,
          "value": 507340767,
          "mode": "list",
          "cachedResultName": "Duplicates",
          "cachedResultUrl": "GOOGLE SHEET LOG"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ new Date().toISOString() }}",
            "Duplicate Email": "={{ $json.Email }}",
            "Duplicate Company Name": "={{ $json[\"Company Name\"] }}",
            "Detection Notes": "={{\n  // Check if both Email and Company Name exist in the Airtable search results\n  $json['Email'] && $json['Company Name'] \n    ? \"Matched on Email and Company\" :\n  \n  // Check if only Email exists\n  $json['Email'] \n    ? \"Matched on Email\" :\n  \n  // Check if only Company Name exists\n  $json['Company Name'] \n    ? \"Matched on Company\" : \n  \n  // Fallback\n  \"Unknown match\"\n}}",
            "Email": "={{ $('Google Sheets Trigger').item.json[\"Email Address\"] }}",
            "Company Name": "={{ $('Google Sheets Trigger').item.json[\"Legal Company Name\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Duplicate Email",
              "displayName": "Duplicate Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Duplicate Company Name",
              "displayName": "Duplicate Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Detection Notes",
              "displayName": "Detection Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        208
      ],
      "id": "635bedbe-b66b-4ef4-9dbc-71fd7e502967",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "px4wDA08RJ7LIj3I",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.asana.com/api/1.0/projects",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "asanaApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"name\": \"{{ $node['Google Sheets Trigger'].json['Legal Company Name'] }} - {{ $node['Google Sheets Trigger'].json['Project Category'] }} Project\",\n    \"workspace\": \"00000000000\",\n    \"team\": \"00000000000\",\n    \"duplicate_from_project\": \"0000000000000000\",\n    \"duplicate_project_styles\": true,\n    \"duplicate_project_custom_field_settings\": true,\n    \"duplicate_project_memberships\": true\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        -368
      ],
      "id": "c921250b-c58a-460f-9cef-e1b0d4775c76",
      "name": "Asana - Automation Request",
      "alwaysOutputData": true,
      "credentials": {
        "asanaApi": {
          "id": "Gitbhp1cAForWGAo",
          "name": "Asana account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.asana.com/api/1.0/projects",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "asanaApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"name\": \"{{ $node['Google Sheets Trigger'].json['Legal Company Name'] }} - {{ $node['Google Sheets Trigger'].json['Project Category'] }} Project\",\n    \"workspace\": \"1211485506826449\",\n    \"team\": \"1211485506826451\",\n    \"duplicate_from_project\": \"1211485506913445\",\n    \"duplicate_project_styles\": true,\n    \"duplicate_project_custom_field_settings\": true,\n    \"duplicate_project_memberships\": true\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        -176
      ],
      "id": "4cdf62ce-86df-41ae-9f1e-618b216cb4da",
      "name": "Asana - Data Analysis Request",
      "alwaysOutputData": true,
      "credentials": {
        "asanaApi": {
          "id": "Gitbhp1cAForWGAo",
          "name": "Asana account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://app.asana.com/api/1.0/projects",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "asanaApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"name\": \"{{ $node['Google Sheets Trigger'].json['Legal Company Name'] }} - {{ $node['Google Sheets Trigger'].json['Project Category'] }} Project\",\n    \"workspace\": \"1211485506826449\",\n    \"team\": \"1211485506826451\",\n    \"duplicate_from_project\": \"1211485506913469\",\n    \"duplicate_project_styles\": true,\n    \"duplicate_project_custom_field_settings\": true,\n    \"duplicate_project_memberships\": true\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        16
      ],
      "id": "5b33f5ce-48bb-402c-81fc-2147d6861d05",
      "name": "Asana - Cloud Migration Request",
      "alwaysOutputData": true,
      "credentials": {
        "asanaApi": {
          "id": "Gitbhp1cAForWGAo",
          "name": "Asana account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Create a record').item.json.fields['Company Name'] }} - Project",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1sk-I0rZDPY2HCoAEgSzgVzpz39Ix-JmH",
          "mode": "list",
          "cachedResultName": "Automation",
          "cachedResultUrl": "DRIVE LINK"
        },
        "options": {
          "folderColorRgb": "#001EFF"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1504,
        -176
      ],
      "id": "f1a615a6-1b48-40ee-88cd-5b30b0593485",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oaueIu7EfzcP2oBM",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "Contracts",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1728,
        -368
      ],
      "id": "b792eac6-e5b9-4304-a463-979898830d1e",
      "name": "Contacts Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oaueIu7EfzcP2oBM",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "Assets",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1728,
        -176
      ],
      "id": "37dd51b9-4a91-4baf-abb1-38e3d383ab6d",
      "name": "Assets Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oaueIu7EfzcP2oBM",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "Reports",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1728,
        16
      ],
      "id": "a7b8230b-fd70-49f5-8bb7-da556530528b",
      "name": "Reports Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oaueIu7EfzcP2oBM",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "16yRHlg48DYILSrtVZMaYUIsUeFie-0xkXBqdJhqXsFs",
          "mode": "list",
          "cachedResultName": "Clients Onboarding Logs",
          "cachedResultUrl": "GOOGLE SHEET LOG"
        },
        "sheetName": {
          "__rl": true,
          "value": 214636386,
          "mode": "list",
          "cachedResultName": "Success",
          "cachedResultUrl": "GOOGLE SHEET LOG"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $('Google Sheets Trigger').item.json['Email Address'] }}",
            "Company Name": "={{ $('Google Sheets Trigger').item.json['Company Website'] }}",
            "Project Category": "={{ $('Google Sheets Trigger').item.json['Project Category'] }}",
            "Project Name": "= {{ $('Code in JavaScript').item.json.asana.data.name }}",
            "Google Drive Folder Link": "=https://drive.google.com/drive/folders/{{ $('Create folder').item.json.id }}?usp=sharing",
            "Status": "On-boarded"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Project Category",
              "displayName": "Project Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Project ID",
              "displayName": "Project ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Project Name",
              "displayName": "Project Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Google Drive Folder Link",
              "displayName": "Google Drive Folder Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Account Manager",
              "displayName": "Account Manager",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2176,
        112
      ],
      "id": "31e5e480-df09-467d-82d0-57dde57b8472",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "px4wDA08RJ7LIj3I",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      company: $node[\"Google Sheets Trigger\"].json[\"Legal Company Name\"],\n      projectCategory: $node[\"Google Sheets Trigger\"].json[\"Project Category\"],\n      asana: $node[\"Asana - Automation Request\"].json || \n             $node[\"Asana - Data Analysis Request\"].json || \n             $node[\"Asana - Cloud Migration Request\"].json,\n      folderId: $node[\"Create folder\"].json.id,\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        208
      ],
      "id": "559ffec9-1613-4597-b029-976a529ab0bc",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "info@electronicexchange.ng",
        "subject": "=New Client Onboarding: {{ $node[\"Google Sheets Trigger\"].json[\"Legal Company Name\"] }} - {{ $node[\"Google Sheets Trigger\"].json[\"Project Category\"] }}",
        "message": "=<p>Dear {{ $node[\"Google Sheets Trigger\"].json[\"Package\"] === \"Starter\" ? \"John\" : \"Jane\" }},</p> \n\n<p>A new client, {{ $node[\"Google Sheets Trigger\"].json[\"Legal Company Name\"] }}, has been onboarded for the {{ $node[\"Google Sheets Trigger\"].json[\"Project Category\"] }} project.</p> \n\n<p><strong>Asana Project:</strong> <a href=\"https://app.asana.com/1/{{ $json.asana.data.workspace.gid }}/project/{{ $json.asana.data.gid }}/list\">Click here</a></p> \n\n<p><strong>Google Drive Folder:</strong> <a href=\"https://drive.google.com/drive/folders/{{ $('Create folder').item.json.id }}?usp=sharing\">Click here</a></p> \n\n<p>Please review and assign tasks accordingly. Contact the client at {{ $node[\"Google Sheets Trigger\"].json[\"Email Address\"] }} if needed.</p> \n\n<p>Best,<br>The Onboarding Team</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1952,
        112
      ],
      "id": "0cf83ca5-5e93-4208-a2d3-ede729ecdd6f",
      "name": "Send a message  Staff",
      "webhookId": "065865dd-d833-4627-b831-afb02a3db41b",
      "credentials": {
        "gmailOAuth2": {
          "id": "U2LNtZrETYduRddu",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets Trigger').item.json['Email Address'] }}",
        "subject": "=Project Onboarded for {{ $node[\"Google Sheets Trigger\"].json[\"Legal Company Name\"] }} - {{ $node[\"Google Sheets Trigger\"].json[\"Project Category\"] }}",
        "message": "=<p>Dear {{ $('Google Sheets Trigger').item.json['Contact Person'] }},</p> \n\n<p>We wish to inform you that we have successfully onboarded your company {{ $node[\"Google Sheets Trigger\"].json[\"Legal Company Name\"] }}, for our {{ $node[\"Google Sheets Trigger\"].json[\"Project Category\"] }} Serive.</p> \n\n<p>A project Manager will be assgined to you and will be in touch soon.</p> \n\n<p>We appreciate your interest in our service and assure you of excellent service.</p> \n\n<p>Thank you for your time</p> \n\n<p>Best,<br>The Onboarding Team</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1952,
        304
      ],
      "id": "fb035b97-21ed-46b7-b3eb-64b3b81115a5",
      "name": "Send a message Clients",
      "webhookId": "065865dd-d833-4627-b831-afb02a3db41b",
      "credentials": {
        "gmailOAuth2": {
          "id": "U2LNtZrETYduRddu",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Asana - Automation Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Asana - Data Analysis Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Asana - Cloud Migration Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asana - Automation Request": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asana - Data Analysis Request": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asana - Cloud Migration Request": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Contacts Folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Assets Folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reports Folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reports Folder": {
      "main": [
        []
      ]
    },
    "Assets Folder": {
      "main": [
        []
      ]
    },
    "Contacts Folder": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message  Staff",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message Clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message  Staff": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "YW9RmUoSHbFso9u0"
  },
  "versionId": "e246c41a-00f4-4783-94d2-f6966b36851d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d500511de033d586ce455c75f91957a5e1b7f9dfbed6affa5df57c190568df0"
  },
  "id": "YW9RmUoSHbFso9u0",
  "tags": []
}