Generate AI Book Covers with Google Gemini & Send via Email/Generate AI Book Covers.json
{
  "name": "Generate AI Book Covers",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn {\n  title: $input.first().json['Book Title'] || 'Untitled',\n  subtitle: $input.first().json['Subtitle (Optional)'] || '',\n  author: $input.first().json['Author Name'] || 'Anonymous',\n  genre: $input.first().json.Genre || 'General',\n  style: $input.first().json.Style || 'Modern',\n  colors: $input.first().json['Preferred Colors'] || 'White',\n  email: $input.first().json['Your Email'] || 'default@example.com'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -288
      ],
      "id": "025c3769-0761-4f14-a25a-60cd39407a31",
      "name": "Extract and Validate Data"
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/imagen-3.0-generate-002",
          "mode": "list",
          "cachedResultName": "models/imagen-3.0-generate-002"
        },
        "prompt": "==\"Design two professional book cover designs for the title \"{{ $json.title }}\" with the subtitle \"{{ $json.subtitle }}\" by \"{{ $json.author }}\". Genre: \"{{ $json.genre }}\". Style: \"{{ $json.style }}\". Dominant colors: \"{{ $json.colors }}\". The designs should be high-resolution, eye-catching, and suitable for print, featuring clear typography and imagery that powerfully reflects the genre and style.\"",
        "options": {
          "sampleCount": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1264,
        -288
      ],
      "id": "50f8c009-1bcb-4810-83b3-6e48230d5c68",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "xrMh2mNHzAyXo7Ld",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Your Book Cover Design is ready!",
        "message": "=\n<p>Dear {{ $json.author }},</p>\n\n<p>Here are download links for your 2 generated book cover samples for '{{ $node[\"Extract and Validate Data\"].json.title }}':</p>\n\n<p><a href=\"{{ $json.imageUrls[0].webViewLink }}\">Download Cover 1</a></p>\n<p><a href=\"{{ $json.imageUrls[1].webViewLink }}\">Download Cover 2</a></p>\n\n<p>Generated based on your preferences.</p>\n\n<p>Best regards,</p>\n\n<p>BookCover Team</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1936,
        -288
      ],
      "id": "557ca1d0-6b12-4749-bf76-d77096e7392d",
      "name": "Send a message",
      "webhookId": "bcc25346-6c8d-414b-9797-e0ade65e1876",
      "credentials": {
        "gmailOAuth2": {
          "id": "cJcqr5NVhGOI9EIT",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "root",
          "mode": "list",
          "cachedResultName": "/ (Root folder)",
          "cachedResultUrl": "https://drive.google.com/drive"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1488,
        -288
      ],
      "id": "31ab112d-8346-48dc-8dfb-f2761c04a597",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "UxyuXO1xZJcTBs9t",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "# 🎨 Generate AI Book Covers with Google Gemini & Send via Email  \n\nThis workflow allows users to generate **AI-powered book cover designs instantly** using Google Gemini, consolidate them into download links, and deliver them directly to an author’s inbox. The entire process is triggered by a simple **n8n form** that collects book details, including title, subtitle, author, genre, preferred colors, and style.  \n\nIt automates the cover design process, ensuring **fast, affordable, and professional-quality results** for self-publishers, freelancers, and indie authors.  \n",
        "height": 416,
        "width": 528,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        816,
        -768
      ],
      "id": "0ef2be57-d9e9-4b24-84b5-2af97ff1b96f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Step 4 - Telegram Bot\n\n\n- Setup Telegram Bot with API Bot access token [Learn how Here](https://docs.n8n.io/integrations/builtin/credentials/telegram/#prerequisites)",
        "height": 192,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1904,
        -544
      ],
      "id": "646ade9a-b1c1-4172-b700-d90f586eb05a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Step 2 - Google Drive Auth\n\n\n- Setup Google Auth in Google Console [Learn how Here](https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/)",
        "height": 192,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1424,
        -544
      ],
      "id": "b62a55d4-d9fa-43fc-9f92-6c4bbb5e306f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Step 1 - Google Gemini API\n\n\n- Get Google AI Studio API key and setup a credential [Learn how Here](https://docs.n8n.io/integrations/builtin/credentials/googleai/#using-geminipalm-api-key)",
        "height": 192,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1424,
        -768
      ],
      "id": "d3af0333-91e1-4134-a44c-ea0cff84b7b0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Step 3 - Gmail Setup\n\n\n- Setup Google Credential for Gmail [Learn how Here](https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/)",
        "height": 192,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1904,
        -768
      ],
      "id": "6aed747e-8535-4d92-9284-86ee968fc9eb",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "formTitle": "Book Cover Generator Form",
        "formDescription": "Transform your story into a visual masterpiece with our AI-powered book cover generator. Simply complete this form with your book’s title, genre, and design preferences, and receive two custom-designed book cover samples delivered straight to your inbox—fast and hassle-free.\nPerfect for self-publishers, freelancers, and authors, this streamlined process lets you explore creative design options without any commitment. Share your vision, and let our AI bring your book’s essence to life!",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Book Title",
              "requiredField": "={{ true }}"
            },
            {
              "fieldLabel": "Subtitle (Optional)"
            },
            {
              "fieldLabel": "Author Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Genre",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Fantasy"
                  },
                  {
                    "option": "Romance"
                  },
                  {
                    "option": "Thriller"
                  },
                  {
                    "option": "Biography"
                  },
                  {
                    "option": "Fiction"
                  },
                  {
                    "option": "Non-Fiction"
                  },
                  {
                    "option": "Self Development"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Style",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Dark"
                  },
                  {
                    "option": "Minimalist"
                  },
                  {
                    "option": "Whimsical"
                  },
                  {
                    "option": "Classic"
                  },
                  {
                    "option": "Modern"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Preferred Colors",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yellow"
                  },
                  {
                    "option": "Green"
                  },
                  {
                    "option": "Blue"
                  },
                  {
                    "option": "Purple"
                  },
                  {
                    "option": "Red"
                  },
                  {
                    "option": "Orange"
                  },
                  {
                    "option": "Navy Blue"
                  },
                  {
                    "option": "Grey"
                  },
                  {
                    "option": "Black"
                  }
                ]
              },
              "limitSelection": "range",
              "maxSelections": 4
            },
            {
              "fieldLabel": "Your Email",
              "fieldType": "email",
              "requiredField": true
            }
          ]
        },
        "options": {
          "buttonLabel": "Generate Book Cover",
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Your request has been received and you will receive 2 Generated images shortly in your email."
            }
          },
          "customCss": "/* Use provided root variables */\n:root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}\n\n/* Form container */\n.form-container {\n\tmax-width: var(--container-width);\n\tmargin: 0 auto;\n\tpadding: var(--padding-container-top) 20px;\n\tbackground-color: var(--color-background);\n\tborder-radius: var(--border-radius-card);\n}\n\n/* Left-align form description */\n.form-description {\n\ttext-align: left !important;\n\tfont-family: var(--font-family);\n\tfont-size: var(--font-size-paragraph);\n\tcolor: var(--color-html-text);\n\tfont-weight: var(--font-weight-normal);\n\tline-height: 1.5;\n\tmargin-bottom: 20px;\n\tmax-width: var(--container-width);\n}\n\n/* Form header */\n.form-header {\n\tfont-family: var(--font-family);\n\tfont-size: var(--font-size-header);\n\tcolor: var(--color-header);\n\tfont-weight: var(--font-weight-bold);\n\tmargin-bottom: 16px;\n}\n\n/* Form fields */\n.form-field label {\n\tfont-family: var(--font-family);\n\tfont-size: var(--font-size-label);\n\tcolor: var(--color-label);\n\tfont-weight: var(--font-weight-bold);\n\tmargin-bottom: 8px;\n\tdisplay: block;\n}\n\n/* Input fields */\n.form-field input,\n.form-field select,\n.form-field textarea {\n\twidth: 100%;\n\tpadding: var(--padding-form-input);\n\tborder: 1px solid var(--color-input-border);\n\tborder-radius: var(--border-radius-input);\n\tfont-family: var(--font-family);\n\tfont-size: var(--font-size-input);\n\tcolor: var(--color-input-text);\n\tbox-sizing: border-box;\n}\n\n/* Focus state for inputs */\n.form-field input:focus,\n.form-field select:focus,\n.form-field textarea:focus {\n\tborder-color: var(--color-focus-border);\n\toutline: none;\n}\n\n/* Placeholder styling */\n.form-field input::placeholder,\n.form-field textarea::placeholder {\n\tcolor: var(--color-input-text);\n\topacity: var(--opacity-placeholder);\n}\n\n/* Submit button */\n.submit-button {\n\twidth: 100%;\n\theight: var(--submit-btn-height);\n\tbackground-color: var(--color-submit-btn-bg);\n\tcolor: var(--color-submit-btn-text);\n\tfont-family: var(--font-family);\n\tfont-size: var(--font-size-input);\n\tfont-weight: var(--font-weight-bold);\n\tborder: none;\n\tborder-radius: var(--border-radius-input);\n\tcursor: pointer;\n\ttransition: background-color 0.2s;\n}\n\n/* Submit button hover */\n.submit-button:hover {\n\tbackground-color: darken(var(--color-submit-btn-bg), 10%);\n}\n\n/* Error messages */\n.form-error {\n\tfont-family: var(--font-family);\n\tfont-size: var(--font-size-error);\n\tcolor: var(--color-error);\n\tmargin-top: 4px;\n}\n\n/* Responsive design */\n@media (max-width: 480px) {\n\t.form-container {\n\t\tpadding: 16px;\n\t}\n\t.form-description {\n\t\tfont-size: calc(var(--font-size-paragraph) - 2px);\n\t}\n\t.form-header {\n\t\tfont-size: calc(var(--font-size-header) - 2px);\n\t}\n}"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        816,
        -288
      ],
      "id": "7f7ca575-1c71-4d02-ad90-f65d4fb8aa5e",
      "name": "Trigger on form submission",
      "webhookId": "34ab05b7-e1e2-4f05-b0ee-0ec16b14287b"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst formData = $node[\"Extract and Validate Data\"].json; // Get single item from Extract and Validate Data\nreturn [{\n  json: {\n    title: formData.title,\n    author: formData.author,\n    email: formData.email,\n    imageUrls: [\n      {\n        webViewLink: items[0].json.webViewLink\n      },\n      {\n        webViewLink: items[1].json.webViewLink\n      }\n    ]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        -288
      ],
      "id": "ddb5a772-a02c-43d7-a679-d5f05cc9213a",
      "name": "Consolidate Output"
    },
    {
      "parameters": {
        "chatId": "7202483621",
        "text": "=An Image was Generated using the Book Cover Form. The request was sent by:  {{ $('Consolidate Output').item.json.author }} and the generated images where sent to {{ $('Consolidate Output').item.json.email }}.\n\nImage 1: {{ $('Consolidate Output').item.json.imageUrls[0].webViewLink }}\n\nImage 2: {{ $('Consolidate Output').item.json.imageUrls[1].webViewLink }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2160,
        -288
      ],
      "id": "8492216a-9238-4f91-8c18-3dae2ff4d3d7",
      "name": "Notify",
      "webhookId": "39da349e-9fe6-49de-84d6-ccda38319542",
      "credentials": {
        "telegramApi": {
          "id": "29KtqRzeeD1boVFJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Step 1",
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1232,
        -336
      ],
      "id": "79101fa4-62c6-4a5c-a556-1f0e816fe9f4",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Step 2",
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1456,
        -336
      ],
      "id": "e0486b51-90d6-4e8b-a1c0-07d6eedbd979",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Step 3",
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1904,
        -336
      ],
      "id": "cbacdcd2-0724-435b-981b-64d334eca4ca",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Step 4",
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2128,
        -336
      ],
      "id": "9e6cd521-4653-4c9c-a9b7-c118acced071",
      "name": "Sticky Note8"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract and Validate Data": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Consolidate Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger on form submission": {
      "main": [
        [
          {
            "node": "Extract and Validate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidate Output": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "xZVUODgBrn7BYRc6"
  },
  "versionId": "5d2a7321-9c59-42ed-903b-3898e6b808cc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c44c85926e44e9505982cf783c7d73bd877118064e1c85d660eb6c5ffeb5217c"
  },
  "id": "xZVUODgBrn7BYRc6",
  "tags": []
}